@import "vars";
@import "bootstrap-custom-vars";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



$color-primary: red; 
$color-secondary: $color;
body {
  background-color: $color;
}
/*
BEM
.suchfeld
.suchfeld__button
.suchfeld__button--aktiv
*/
.suchfeld {
color:white;

  &__button {
    color: $color;
    &--aktiv {
      color: red;
    }
  }
}
